
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #222222;
}

.App-light{
  width: 100%;
  min-height: 100vh;
  background-color: #222222;

}

.App-dark{
  background: #E6E8E6;
  width: 100%;
  min-height: 100vh;
}


