.animated-letter{
    opacity: 0;

    /* font-size: 32px; */
    font-weight: 700;
    display: flex;
}

label{
    padding: 0px !important;
    margin: 0px !important
}

.loading-container{
    margin: 0px auto;
    padding: 0px !important;
    margin: 4px !important;
    display: flex;
    display: inline-block;
    align-items:center;
    justify-content: center;
    align-items: center;
    /* margin: 24px */
}

.loading-dark{
color: #222222;
}

.loading-light{
    color: #dddddd;
}