nav {
  position: fixed;
  z-index: 6
}

.nav-item {
  opacity: 0;
}

.container {
  display: flex;
  margin-left: 0%;
  flex-direction: row;
}

.nav-container {
  background-color: #444444 !important;
  padding: 1px 0px;
 
}

.username-label{
  font-weight: 700;
  color: #e8e8e8b6
}

.scroll-container{
  height: 200px; /* Adjust the height as needed */
  overflow-y: scroll;
  margin: 12px auto;
  border: 2px solid #555555;
  padding: 4px;
  border-radius: 5px
}

.search-list{
  list-style: none;
  text-align: left;
  padding: 4px
}

@media (max-width: 1475px) {
  .toggle-icon {
    margin: 7px;
  }
  .container {
    padding: 40px;
    height: 100vh;
    margin-left: -100%;
    text-align: left;
    background-color: #444444;
    /* position: absolute; */
  }
  .nav-item {
    margin: 12px;
    opacity: 0;
    font-size: 20px;
    font-weight: 300;
    font-size: 28px;
  }

  .nav-container{
    height: 50%
  }
}
