.nav-container{
    display: inline-block;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    color: rgb(230, 229, 234);
    line-height:48px;
}

.nav-container-closed{
    display: none
}

a{
    color: rgb(230, 229, 234);
    text-decoration: none;
}